VITE_API_URL=http://localhost:5000/api
VITE_ABUSEIPDB_API_KEY=your_abuseipdb_api_key_here
VITE_VIRUSTOTAL_API_KEY=your_virustotal_api_key_here
VITE_OTX_API_KEY=your_otx_api_key_here
VITE_GOOGLE_SAFE_API_KEY=your_google_safe_browsing_api_key_here
VITE_URLSCAN_API_KEY=your_urlscan_api_key_here
VITE_SUPABASE_URL=your_supabase_url_here
VITE_SUPABASE_KEY=your_supabase_key_here
